<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="MyTestSuite">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="IntegrationTestSuite">
            <directory>./tests/integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
