<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="UnitTests">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="IntegrationTests">
            <directory>./tests/integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
        <blacklist>
            <directory>./tests</directory> <!-- テストコードをカバレッジから除外 -->
        </blacklist>
    </filter>

    <php>
        <ini name="error_reporting" value="-1"/> <!-- 開発時には便利だが注意 -->
    </php>
</phpunit>
